<footer class="bg-neutral-800 text-white py-12 px-8 mt-4">
  <div class="container-custom">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Company Information -->
      <div class="space-y-4">
        <div class="flex items-center mb-6">
          <a
            routerLink="/"
            class="flex items-center text-sm font-bold text-white"
          >
            <img
              src="/images/logo.png"
              alt="LEXI GRAY PROPERTY MANAGEMENT Logo"
              class="h-14 w-64 rounded mr-2"
            />
            <!-- <span class="rounded text-xs"
            >LEXI GRAY <br /> <span class="text-[7px]">PROPERTY MANAGEMENT</span> </span
          > -->
          </a>
        </div>
        <div class="space-y-2 text-gray-300">
          <p>2719 Graves Drive Suite 21 Goldsboro, NC 27534</p>
          <p class="font-semibold text-white">(828) 394-3181</p>
          <p>9:00 AM - 5:00 PM, Monday - Friday</p>
          <a
            href="mailto:info@lexigraymgmt.com"
            class="text-white hover:text-gray-300 underline"
            >Email Us</a
          >
        </div>
      </div>


      <!-- Affiliations Section -->
      <div>
        <h3 class="text-xl font-semibold mb-6 text-white">AFFILIATIONS</h3>
        <div class="space-y-4">
          <div class="flex flex-col space-y-4">
            <div class="flex items-center space-x-4">
              <img
                src="/images/realtor.png"
                alt="REALTOR"
                class="h-12 w-auto"
              />
              <img
                src="/images/eho.png"
                alt="Equal Housing Opportunity"
                class="h-12 w-auto"
              />
              <img
                src="/images/narpm.png"
                alt="NARPM - National Association of Residential Property Managers"
                class="h-16 w-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Border -->
    <div class="border-t border-gray-600 mt-8 pt-6">
      <div class="text-center text-gray-400 text-sm">
        <p>
          &copy; {{year}} LEXI GRAY PROPERTY MANAGEMENT. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
